body {
  margin: 0;
}
main {
  padding: 12px;
}

.btn:disabled {
  background-color: #ddd;
}
.btn {
  background-color: white;
  padding: 6px 16px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  -webkit-box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, 0.15);
}

.btn-blue {
  background-color: #4b7bec;
  color: white;
}
.btn-blue-active {
  background-color: #8854d0;
  color: white;
}

.btn-danger {
  background-color: #eb3b5a;
  color: white;
}
